<a href="https://colab.research.google.com/github/zobayer301/PythonProgramming_GUB_EDGE_PROJECT/blob/main/class_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = {3,4,5,6,7,}
num.add(9)
print(num)

{3, 4, 5, 6, 7, 9}

In [ ]:
a = {3,5,6}
b = {5,2,7}
c = a.intersection(b)
print(c)

{5}

In [ ]:
my_set = set()

for i in range(5):
    item = input(f"Enter item {i+1}: ")
    my_set.add(item)

print("\nItems in lowercase:")
for item in my_set:
    print(item.lower())

print("\nItems in uppercase:")
for item in my_set:
    print(item.upper())

In [ ]:
mySet = set()
for i in range(5):
    item = input(f"Enter item {i+1}: ")
    mySet.update(item)
    print(item)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)