<a href="https://colab.research.google.com/github/zobayer301/PythonProgramming_GUB_EDGE_PROJECT/blob/main/class_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cars = ('Audi', 'bmw', 'Marcedes')
print(cars)
print(cars[0])
print(cars[1])
print(cars[2])

('Audi', 'bmw', 'Marcedes')
Audi
bmw
Marcedes

In [ ]:
cars = ('Audi')
print(cars)
print(cars[0])
print(cars[1])
print(cars[2])

Audi
A
u
d

tuple constructor

In [ ]:
cars = tuple(('Audi','bmw','Marcedes'))
print(cars)

('Audi', 'bmw', 'Marcedes')

convert into list

In [ ]:
cars = tuple(('Audi','bmw','marcedes'))
temp = list(cars)
temp.append('toyota')
cars = tuple(temp)
print(cars)

('Audi', 'bmw', 'marcedes', 'toyota')

update tuple

In [ ]:
cars = tuple(('Audi','bmw','marcedes'))
temp = list(cars)
temp.append('toyota')
temp[1] = 'van'
cars = tuple(temp)
print(cars)

('Audi', 'van', 'marcedes', 'toyota')

remove tuple

In [ ]:
cars = tuple(('Audi','bmw','marcedes'))
temp = list(cars)
temp.append('toyota')
temp[1] = 'van'
temp.remove('marcedes')
cars = tuple(temp)
print(cars)

('Audi', 'van', 'toyota')

unpacking a tuple

In [ ]:
cars = ('Audi','bmw','marcedes')
car1, car2, car3 = cars
print(car1)
print(car2)
print(car3)

Audi
bmw
marcedes

dict key value pair

In [ ]:
std  = {'s_id': 1, 's_name': 'Zobayer', 's_dept': 'Python'}
print(std)

{'s_id': 1, 's_name': 'Zobayer', 's_dept': 'Python'}

loop with dict

In [ ]:
a = {'a':4, 'b':1, 'c': 6, 'd': 2, 'e':3}
for key, value in a.items():
  print(key, ":", value)

a : 4
b : 1
c : 6
d : 2
e : 3

In [ ]:
student_marks = {}
for i in range(5):
    student_name = input(f"Enter student {i+1} name: ")
    marks = float(input(f"Enter marks for {student_name}: "))
    student_marks[student_name] = marks
print("\nStudent Names and their Marks:")
for name, marks in student_marks.items():
    print(f"{name}: {marks}")

Enter student 1 name: Zobayer
Enter marks for Zobayer: 2
Enter student 2 name: Istiak
Enter marks for Istiak: 5
Enter student 3 name: Newaz
Enter marks for Newaz: 6
Enter student 4 name: ZOba
Enter marks for ZOba: 8
Enter student 5 name: Yer
Enter marks for Yer: 6

Student Names and their Marks:
Zobayer: 2.0
Istiak: 5.0
Newaz: 6.0
ZOba: 8.0
Yer: 6.0