<a href="https://colab.research.google.com/github/zobayer301/PythonProgramming_GUB_EDGE_PROJECT/blob/main/Class_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary Methods
Dictionary uses several built-in methods for manipulation.They are listed below

update()
The update() method updates the value of the key provided to it if the item already exists in the dictionary, else it creates a new key-value pair.

Example:

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
info.update({'age':20})
info.update({'DOB':2001})
print(info)

{'name': 'Karan', 'age': 19, 'eligible': True}
{'name': 'Karan', 'age': 20, 'eligible': True, 'DOB': 2001}

In [ ]:
#convertingStringTOObject
site_string = "Jafricode.com"
byte = bytes(site_string, 'utf-8')
print(byte)

b'Jafricode.com'

In [ ]:
num = 3
ans = bytes(num)
print(ans)

b'\x00\x00\x00'

In [ ]:
#Implicit type conversion
v1 = 3
print(type(v1))

v1 = v1+4.4
print(type(v1))

<class 'int'>
<class 'float'>

In [ ]:
#concatenate string with number
print('value'+123)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('value'+str(123))

value123

In [ ]:
print('Zobog'+ str(18))

Zobog18

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))

if num1>num2:
    print(num1)
elif num2>num3:
    print(num2)
elif num3>num4:
    print(num3)
else:
    print(num4)

Enter first number: 3
Enter second number: 4
Enter third number: 5
Enter fourth number: 2
5

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))

if num1 > num2 and num1 > num3 and num1 > num4:
    print(num1, "is the greatest")
elif num2 > num1 and num2 > num3 and num2 > num4:
    print(num2, "is the greatest")
elif num3 > num1 and num3 > num2 and num3 > num4:
    print(num3, "is the greatest")
else:
    print(num4, "is the greatest")

Enter first number: 3
Enter second number: 2
Enter third number: 4
Enter fourth number: 5
5 is the greatest